{% extends 'base.html' %}

{% block main %}
<div class="d-flex flex-row-reverse mb-3">
    <a href="#" class="fas fa-pen-to-square" style="color:white;"></a>
</div>

{% for g in gul %}
<div class="card mb-3">
  <img src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp" class="card-img-top" alt="Wild Landscape"/>
  <div class="card-body">
    <h5 class="card-title">{{ g.nomi }}</h5>
    <p class="card-text">{{ g.malumot}}</p>
    <p class="card-text">
      <small class="text-muted">{{ g.created|date:"D d F Y" }}</small>
    </p>
  </div>
</div>
{% endfor %}

{% if request.user.is_authenticated %}
<form method="post" action="#">
    {% csrf_token %}
    {{ comment.as_p }}

    <button type="submit" class="btn btn-success">Saqlash</button>

</form>
{% else %}
<div style="color:red">
<h3>Comment qoldirmoqchi bo'lsangiz ro'yxatdan o'ting <a href="{% url 'login_user' %}" style="color:blue">Login</a></h3>
</div>
{% endif %}

<div class="d-flex justify-content-end mb-3">
    <a href="#" class="fas fa-pen-to-square" style="color:white;"></a>
</div>

{% for c in com%}
<div class="card text-center mt-3 mb-3">
  <div class="card-header">
      {{ c.author.username }}<br>
      {% if request.user == comment.author or request.user.is_superuser %}
      <a href="{% url 'comment_delete' comment.pk %}">O'chirish</a>
      {% endif %}
  </div>
    
  <div class="card-body">
    <h5 class="card-title">{{ c.text }}</h5>
  </div>
  <div class="card-footer text-muted">{{ c.created|date:"D d F Y" }}</div>
</div>
{% endfor %}


{% endblock main %}
